body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(10, 100vh);
	grid-template-rows: repeat(10, 100vh);
	flex-wrap: wrap;
	overflow: scroll;
	height: 100vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 1rem;
	text-align: center;
	/* center text horizontally and vertically */
	display: flex;
	justify-content: center;
	align-items: center;


}
